*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.cart {
  width: 250px;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 400px;
  justify-content: space-between;
}

img.img {
  width: 250px;
  border-radius: 10px;
  height: 250px;
}

.contentCart {
  background-color: rgb(72, 69, 69);
  border-radius: 10px;
  color: white;
}
.name {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.price {
  display: flex;
  justify-content: space-around;
}
button#dropdown-basic {
  width: 250px;
  height: 50px;
  background-color: rgb(72, 69, 69);
  border: 1px solid rgb(72, 69, 69);
}
.dropdown-menu.show {
  width: 250px;
  background-color: rgb(72, 69, 69);
  border: 1px solid rgb(72, 69, 69);
color: white;
}
button {
  color: white;
  background-color: rgb(72, 69, 69);
}
.bodycart {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  margin-top: 20px;
}
.cartProduct{
  display: flex;
  gap: 30px;
}
.CartDetails {
  display: flex;
  justify-content: flex-end;
}